body {
  --cb-font-size: 16px;
  --cb-top-height: 36px;
  --cb-linenum-bg: inherit;
  --cb-linenum-border: #999 1px solid;
  --cb-linenum-color: var(--code-normal);
}
.cbe {
  position: relative;
  .cbe-language-name {
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--text-normal);
    margin-left: 4px;
    user-select: none;
    width: 100%;
    height: calc(var(--cb-top-height) - 4px);
    line-height: calc(var(--cb-top-height) - 4px);
    padding-left: 4px;
    font-size: 12px;
  }
  .cbe-linenum-wrap {
    position: absolute;
    top: var(--cb-top-height);
    left: 0px;
    min-width: 4em;
    font-size: var(--cb-font-size);
    counter-reset: line-num;
    text-align: center;
    border-right: var(--cb-linenum-border);
    user-select: none;
    pointer-events: none;
    background-color: var(--cb-linenum-bg);
    color: var(--cb-linenum-color);
    .cbe-linenum {
      display: block;
      counter-increment: line-num;
      pointer-events: none;
      &::before {
        content: counter(line-num);
      }
    }
  }

  pre[class*="language-"] {
    padding-top: var(--cb-top-height) !important;
    &.cbe-has-linenumber {
      overflow: hidden !important;
      padding-left: 4.5em !important;
    }
    code.cbe-has-linenumber {
      overflow: hidden !important;
      padding: 0 !important;
      font-size: var(--cb-font-size) !important;
      word-break: break-all !important;
      white-space: pre-wrap !important;
      width: 100%;
    }
  }
}
