$cb-font-size: 0.8rem;
$cb-line-height: 1.5em;
$cb-top-height: 24px;
.code-block-copy-button {
  display: none;
  margin: 0 0 0 auto;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;

  svg.copy path {
    fill: var(--text-faint);
  }

  svg.copy-success path {
    fill: var(--interactive-success);
  }

  &:hover,
  &:active {
    cursor: pointer;
    svg path {
      fill: var(--text-accent-hover);
      transition: all ease 0.3s;
    }
  }

  &:focus {
    outline: 0;
  }
}
.code-block-lang-name {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--text-normal);
  font-size: $cb-font-size;
  margin-left: 4px;
  user-select: none;
}
.code-block-wrap {
  position: relative;
}
pre {
  &[class*="language-"] {
    font-size: var(--editor-font-size);
    line-height: $cb-line-height;
    padding-top: $cb-top-height;

    & > code[class*="language-"] {
      padding-top: 0 !important;
      font-size: var(--editor-font-size) !important;
      line-height: $cb-line-height !important;
    }
    
    &.code-block-pre__has-linenum {
      padding-left: 4.5em;
    }
  }
  &.code-block-pre__has-copy-button {
    &:hover .code-block-copy-button {
      display: block;
    }
  }
}
.code-block-linenum-wrap {
  position: absolute;
  top: $cb-top-height;
  left: 0px;
  min-width: 4em;
  font-size: var(--editor-font-size);
  line-height: $cb-line-height;
  counter-reset: line-num;
  text-align: center;
  border-right: #999 1px solid;
  user-select: none;
  pointer-events: none;
  background-color: inherit;
  .code-block-linenum {
    display: block;
    counter-increment: line-num;
    pointer-events: none;
    &::before {
      content: counter(line-num);
    }
  }
}
