body {
    --cb-font-size: 14px;
    --cb-header-height: 36px;
    --cb-linenum-bg: inherit;
    --cb-linenum-border: #999 1px solid;
    --cb-linenum-color: var(--code-normal);
    --cb-linenum-highlight-color: rgba(255, 255, 0, 0.1);
    --cb-linenum-highlight-color-temp: rgba(64, 224, 208, 0.2);
}

@mixin cbe-code-wrap {
    overflow: hidden !important;
    word-break: break-all !important;
    white-space: pre-wrap !important;
    word-wrap: unset !important;
}

.cbe {
    position: relative;
    padding-top: var(--cb-header-height) !important;

    &:hover {
        .cbe-toolbar {
            visibility: visible;
        }
    }

    .copy-code-button {
        // z-index: 200;
        display: none;
    }

    .cbe-header {
        position: absolute;
        top: 0px;
        left: 0px;
        color: var(--text-normal);
        user-select: none;
        width: 100%;
        height: var(--cb-header-height);
        line-height: var(--cb-header-height);
        font-size: 12px;
        display: flex;
        background-color: var(--code-background);
        pointer-events: none;
        font-family: var(--font-monospace);
    }

    .cbe-language-name {
        min-width: 4rem;
        text-align: center;
        padding-left: 4px;
        font-size: 14px;
    }

    .cbe-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        visibility: hidden;
        padding-left: 16px;
        pointer-events: auto;
        flex: 1;
    }

    .cbe-linenum-wrap {
        position: absolute;
        top: var(--cb-header-height);
        left: 0px;
        width: 100%;
        font-size: var(--cb-font-size);
        font-family: var(--font-monospace);
        text-align: center;
        user-select: none;
        pointer-events: none;
        background-color: var(--cb-linenum-bg);
        color: var(--cb-linenum-color);

        .cbe-linenum {
            width: 4em;
            display: block;
            pointer-events: auto;
            height: 100%;
            border-right: var(--cb-linenum-border);

            &::before {
                content: attr(data-linenum);
            }
        }

        .cbe-line-highlight {
            background-color: var(--cb-linenum-highlight-color);
        }

        .cbe-line-highlight-temp {
            background-color: var(--cb-linenum-highlight-color-temp);
        }

        .cbe-line-hover {
            &:hover {
                background-color: rgba(138, 92, 245, 0.15);
            }
        }
    }

    .cbe-toolbar-btn {
        margin: 0px 4px;
    }
}

.cbe.cbe-has-linenumber {
    @include cbe-code-wrap();
    padding-left: 4.5em !important;
    background-color: var(--code-background);

    code[class*="language-"] {
        @include cbe-code-wrap();
        width: 100%;
        padding: 0 !important;
        font-size: var(--cb-font-size) !important;
        display: table-cell;
    }
}

.cbe.cbe-collapsed {
    border-top: 4px #39c5bb solid;
    height: var(--cb-header-height);
    padding: 0 !important;
    margin: 20px 0 !important;

    .cbe-linenum-wrap,
    code {
        visibility: hidden;
    }
}

.cm-preview-code-block {
    .cbe {
        .cbe-toolbar {
            padding-right: 38px;
        }
    }
}